@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/istockphoto-1298556636-612x612.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  backdrop-filter: blur(5px);

  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background: linear-gradient(45deg, #f48e21, #6753ff, #12db76, #f75e21);
  background-size: 300%, 300%;
  animation: color 15s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0, 50%;
  }
}

.image {
  position: relative;
  margin-top: 90px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  background: linear-gradient(270deg, #dd031c, #6753ff, #f48e21, #23dfab);
  background-size: 100%, 100%;
  border-radius: 90px;
  border: 7px solid white;
}

.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.profile-card .media-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  text-decoration: none;
}

.skills {
  position: relative;
  text-align: left;
  padding: 15px;
  margin-top: 20px;
  border-radius: 0 0 24px 24px;
  background-color: #433872;
}

h4{
  text-align: center;
  color: white;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #161422;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
 color: white;
}
